1. Exploration des données

In [1]:
# Importation des bibliothèques nécessaires
import pandas as pd
import numpy as np

In [2]:
# Chargement des données depuis le fichier CSV
data = pd.read_csv('ventes_technova.csv',sep=',')
data.head()

,id_commande,date_achat,nom_produit,quantite,mode_paiement,ville_client,delai_livraison_jours,prix_unitaire
0,10001,2025-04-12,Smartphone X,2,Carte Bleue,Paris,3,799.0
1,10002,2025-08-22,Casque Sans Fil,1,PayPal,Lyon,5,150.0
2,10003,2025-01-05,Souris Gaming,3,Carte Bleue,Lille,2,50.0
3,10004,2025-11-30,Ecran 27 pouces,1,Apple Pay,Marseille,7,300.0
4,10005,2025-06-15,Clavier Mécanique,1,Carte Bleue,Bordeaux,4,80.0

In [4]:
# Affichage des dimensions du dataset
data.shape

(503, 8)

In [ ]:
# Verifications des informations sur les colonnes des données
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_commande            503 non-null    int64
 1   date_achat             503 non-null    object
 2   nom_produit            503 non-null    object
 3   quantite               503 non-null    int64
 4   mode_paiement          503 non-null    object
 5   ville_client           503 non-null    object
 6   delai_livraison_jours  503 non-null    int64
 7   prix_unitaire          483 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 31.6+ KB

In [12]:
# modification du type de données des colonnes pour correspondre aux types réels

# modification de la colonne date_achat en colonne de type datetime
data['date_achat'] = pd.to_datetime(data['date_achat'])

# modification de la colonne mode de paiement en type catégorielle
data['mode_paiement'] = data['mode_paiement'].astype('category')

# affichage des nouveaux types des colonnes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_commande            503 non-null    int64
 1   date_achat             503 non-null    datetime64[ns]
 2   nom_produit            503 non-null    object
 3   quantite               503 non-null    int64
 4   mode_paiement          503 non-null    category
 5   ville_client           503 non-null    object
 6   delai_livraison_jours  503 non-null    int64
 7   prix_unitaire          483 non-null    float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 28.3+ KB

In [ ]:
# vérification du nombre de na
data.isna().sum()

id_commande               0
date_achat                0
nom_produit               0
quantite                  0
mode_paiement             0
ville_client              0
delai_livraison_jours     0
prix_unitaire            20
dtype: int64